* {
  padding: 0;
  margin: 0;
}

.calc-section {
  padding: 10px;
}

.calc-container {
  border: 1px solid green;
}

.calc-display {
  width: 100%;
  height: 30px;
  border: 1px solid red;
}

.calc-button {
  width: 30px;
  height: 30px;
  margin: 2px;
  border: 1px solid blue;
}
