* {
	padding: 0;
	margin: 0;
}

body {
	background-color: antiquewhite;
}

h1 {
	text-align: center;
	padding-top: 40px;
	font-size: 70px;
	font-family: 'Roboto', sans-serif;
}

h3 {
	text-align: center;
	font-size: 30px;
	font-style: italic;
	font-family: 'Roboto', sans-serif;
}

#calc-container {
	max-width: 424px;
	margin: 30px auto;
	background-color: rgb(187, 180, 170);
	border-radius: 5px;
	border: 3px solid rgb(90, 75, 56);
}

#calc-display {
	height: 60px;
	background-color: rgb(66, 66, 66);
	color: #eee;
	padding: 10px 20px 10px 0;
	font-size: 50px;
	font-style: italic;
	text-align: end;
	text-justify: auto;
}

#calc-buttons-container {
	padding: 10px;
}

#math-operands-container {
	padding: 10px 0;
}

#math-operands-container > button {
	background-color: rgb(206, 127, 24);
}

#math-operands-container > button:hover {
	background-color: rgb(126, 82, 25);
}

#math-operands-container > button:active {
	background-color: rgb(241, 158, 48);
}

.calc-button {
	width: 60px;
	height: 45px;
	font-size: 23px;
	margin: 2px;
	color: #eee;
	border: 2px solid rgb(35, 47, 58);
	background-color: rgb(26, 138, 148);
	border-radius: 10px;
	cursor: pointer;
}

.calc-button:hover {
	background-color: rgb(29, 91, 102);
}

.calc-button:active {
	background-color: rgb(70, 203, 226);
}
