* {
  padding: 0;
  margin: 0;
}

.calc-section {
  padding: 10px;
  width: 700px;
}

.calc-display {
  width: 100%;
  height: 30px;
  border: 1px solid red;
}

.calc-buttons-container {
  border: 1px solid green;
}

.calc-button {
  width: 30px;
  height: 30px;
  margin: 2px;
  border: 1px solid blue;
}
